{% extends "layout.html" %}
{% block content %}
  <div class="text-intro">
    <h2><b>Contact</b></h2>
  </div>
 <div class="columns features">
    <div class="one-third first">
      <h3><b>Piyus Mohanty</b></h3>
      <p>Bioinformatics Engineer</p>
      <p>Graduated from Jaypee University of Information Technology (JUIT)</p>
      <P>Linkedin-www.linkedin.com/in/piyus-mohanty</P>
      <p>Email_id-piyus22.pm@gmail.com</p>
    </div>
    <div class="one-third">
      <h3><b>Dr. Jayashree Ramana</b></h3>
      <p>Former Assistant Professor at JUIT</p>
      <p>Linkedin-https://www.linkedin.com/in/jayashree-ramana-23741ab5/</p>
    </div>
    <div class="one-third">
      <h3><b>Dr. Narendra Kumar</b></h3>
      <p>Assistant Professor at JUIT</p>
      <p>Linkedin-https://www.linkedin.com/in/narekum/</p>
    </div>

  </div>
{% endblock %}
